<footer class="footer">
	<div class="ctnr-wide">
		<div class="footer-navigation">
			<div class="footer-links">
				<h4 class="footer-title"> </h4>
				<nav>
					
			</div>
			<div class="footer-links">
				<h4 class="footer-title"> </h4>
				<nav>
					<ul class="nav">
						<li class="footer-link">
							<a href="https://nunogand.com" target="_blank" rel="noopener noreferrer">nunogand</a>
						</li>						
					</ul>
				</nav>
			</div>
		</div>
		<h6 class="footer-text">© {{ site.time | date: '%Y' }} <a href="https://twitter.com/{{ site.author.twitter }}" aria-label="Seguir {{ site.author.name }} no Twitter.">{{ site.author.name }}</a>. No rights reserved.</h6>
	</div>
</footer>
