<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">

  <!-- Enable responsiveness on mobile devices -->
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">

  <link href="https://gmpg.org/xfn/11" rel="profile">

  <!-- Prefetch the pages in the navigation menu -->
  {% assign entries = site.pages | where: "lang", page.lang | sort: "order" %}
  {% for entry in entries %}
  {% unless entry.exclude == true %}
  <link rel="prefetch" href="{{ site.baseurl }}{{ entry.url }}">
  {% endunless %}
  {% endfor %}

  <title>
    {% if page.title %} {{ page.title }} · {{ site.title }} {% else %} {{ site.title }} · {{ site.tagline }} {% endif %}
  </title>

  <!-- CSS FONTS-->
  <!-- [1 Preemptively warm up the fonts’ origin] -->
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />

<!-- [2 Initiate a high-priority, asynchronous fetch for the CSS file. Works in most modern browsers] -->
<link rel="preload" as="style" href="https://fonts.googleapis.com/css?family={% for font in site.google_fonts %}{{ font[0] | replace: ' ', '+' }}{% if font[1] %}:{% endif %}{{ font[1] | remove: ' ' }}{% if forloop.last != true %}|{% endif %}{% endfor %}&display=swap" />

<!-- [3 Initiate a low-priority, asynchronous fetch that gets applied to the page only after it’s arrived. Works in all browsers with JavaScript enabled] -->
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family={% for font in site.google_fonts %}{{ font[0] | replace: ' ', '+' }}{% if font[1] %}:{% endif %}{{ font[1] | remove: ' ' }}{% if forloop.last != true %}|{% endif %}{% endfor %}"&display=swap" media="print" onload="this.media='all'" />

<!-- [4 In the unlikely event that a visitor has intentionally disabled JavaScript, fall back to the original method] -->
<noscript>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family={% for font in site.google_fonts %}{{ font[0] | replace: ' ', '+' }}{% if font[1] %}:{% endif %}{{ font[1] | remove: ' ' }}{% if forloop.last != true %}|{% endif %}{% endfor %}"&display=swap" /> 
</noscript>
  
    <!--<link rel="stylesheet" href="{{ site.baseurl }}{{ site.assets }}/main{% if site.dark_theme %}-dark{% endif %}.css">-->
  <link rel="stylesheet" href="{{ '/assets/main.css' | relative_url }}" />
 
  

  <!-- Icons -->
  {% include core/icons.html %}

  <!-- RSS -->
  {% feed_meta %} {% seo title=false %}
</head>
