---
layout: default
---

<header>
  {% include core/social.html %}
</header>
<article>
  <div class="post -fixed -first">
    <div class="post-header ctnr-golden">
      <h1 class="post-title">{{ page.title }}</h1>
	    
    </div>
	{% if page.image %}
	{% picture {{ page.image | append: ".jpg" }} --img class="post-image" style="z-index: {{ lengthID | minus: forloop.index }}" %}
	{% else %}
	{% picture milady.jpg --img class="post-image" style="z-index: {{ lengthID | minus: forloop.index }}" %}
	{% endif %}
	  <div class="ctnr-wide">
		 
      {{ content }}
    </div>
  </div>
</article>

{% include core/footer.html %}
